/* Joseph Kim 2016 */

h1 {
	font-size: 50px;
	z-index: -1;
	position: absolute;
	width: 100%;
	text-align: center;
}

body {
}

.date {
	text-align: center;
	font-size: 24px;
	z-index: 1;
}

.clock {
	text-align: center;
	font-size: 50px;
	z-index: 1;
}

.siteform {
	text-align: center;
}

html, body, .container {
	height: 100%;
}

.container {
	display: -webkit-flexbox;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-flex-items: center;
	align-items: center;
	justify-content: center;
	z-index: 1;
}