/*
	By Joseph Kim, 2016
*/

body {
	background-color: lightblue;
}

h1 {
	text-align:center;
	font-size: 50px;
	margin-top: 20px;
	font-family: Georgia, serif;
}

h2 {
	text-align: center;
}

p {
	position: absolute;
}