/* By Joseph Kim, 2016 */

.draggable{
	position:absolute;

	cursor: move;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	top: 0;
}

h1 {
	text-align: center;
	font-size: 34px;
	font-family: arial;
}

h2 {
	text-align: center;
	font-size: 10px;
}

#message {
	text-align: center;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 240px;
	font-size: 40px;
}

#addimage {
	z-index: -100;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 110px;
	height: 30px;
	width: 150px;
	background-color: lightgray;
	border: 1px solid gray;
	border-radius: 40%;
	font-family: serif;
}